<%= form_with url: add_role_path, method: :post do |f| %>
  <div>
    <%= f.label :role %>
    <%= f.collection_select :role_id, @roles, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit "Chosen Role" %>
  </div>
<% end %>
