<h1>profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<p><%= link_to '<< Back', profiles_path %> | <%= link_to 'Edit', edit_profile_path %> | <%= link_to 'Delete', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></p>
