<h1>jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<p><%= link_to '<< Back', jobs_path %> | <%= link_to 'Edit', edit_job_path %> | <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' } %></p>
