<h1>addresses#show</h1>
<p>Find me in app/views/addresses/show.html.erb</p>

<p><%= link_to '<< Back', addresses_path %> | <%= link_to 'Edit', edit_address_path %> | <%= link_to 'Delete', @address, method: :delete, data: { confirm: 'Are you sure?' } %></p>
