<h1>roles#show</h1>
<p>Find me in app/views/roles/show.html.erb</p>

<p><%= link_to '<< Back', roles_path %> | <%= link_to 'Edit', edit_role_path %> | <%= link_to 'Delete', @role, method: :delete, data: { confirm: 'Are you sure?' } %></p>
