<h1><%= "#{current_user.username}'s Page" %></h1>
<p><%= current_user.email %></p>
<h2>Profile</h2>
<% if current_user.has_role? :user %>

<% end %>
<% if current_user.has_role? :tradie %>

<% end %>
<%= %>
