<h1>dashboards#show</h1>
<p>Find me in app/views/dashboards/show.html.erb</p>

<p><%= link_to '<< Back', dashboards_path %> | <%= link_to 'Edit', edit_dashboard_path %> | <%= link_to 'Delete', @dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></p>
